/**
 * @file
 * Visual styles for SLINT2020's hero v2 block.
 */
.block-mt-hero-v2 > .content {
  padding: 40px 0 0;
}
@media (max-width: 991px) {
  .banner .block-mt-hero-v2 > .content {
    padding-top: 30px;
  }
}
.field--name-field-mt-hero-v2-title {
  margin-bottom: 25px;
  font-size: 44px;
  line-height: 1.2;
  font-weight: 700;
}
.field--name-field-mt-hero-v2-title .typed-cursor {
  font-size: 42px;
}
@media (min-width: 992px) {
  .field--name-field-mt-hero-v2-title.mt-typing-animation-enabled {
    min-height: 110px;
  }
}
@media (min-width: 1200px) {
  .field--name-field-mt-hero-v2-title {
    font-size: 58px;
  }
  .field--name-field-mt-hero-v2-title .typed-cursor {
    font-size: 50px;
  }
  .field--name-field-mt-hero-v2-title.mt-typing-animation-enabled {
    min-height: 220px;
  }
}
@media (min-width: 1400px) {
  .field--name-field-mt-hero-v2-title {
    font-size: 72px;
    margin-top: 20px;
  }
  .field--name-field-mt-hero-v2-title .typed-cursor {
    font-size: 60px;
  }
  .field--name-field-mt-hero-v2-title.mt-typing-animation-enabled {
    min-height: 258px;
  }
}
@media (min-width: 1440px) {
  .block-mt-hero-v2 > .content {
    padding: 45px 0 0;
  }
}
@media (max-width: 575px) {
  .field--name-field-mt-hero-v2-title {
    font-size: 35px;
  }
  .field--name-field-mt-hero-v2-title .typed-cursor {
    font-size: 34px;
  }
}
.field--name-field-mt-hero-v2-description {
  margin-bottom: 15px;
}
@media (min-width: 1200px) {
  .field--name-field-mt-hero-v2-description {
    margin-bottom: 50px;
  }
  .one-column .field--name-field-mt-hero-v2-description {
    margin-bottom: 25px;
  }
}
.field--name-field-mt-hero-v2-description p {
  margin-bottom: 15px;
}
@media (min-width: 1200px) {
  .field--name-field-mt-hero-v2-description p {
    margin-bottom: 25px;
  }
}
.field--name-field-mt-hero-v2-description p:last-child {
  margin-bottom: 0;
}
.field--name-field-mt-hero-v2-note {
  font-size: 14px;
  opacity: 0.65;
}
@media (min-width: 992px) {
  .two-columns .hero-column-first .field:last-child {
    margin-bottom: 70px;
  }
}
.one-column .field--name-field-mt-hero-v2-action {
  margin-bottom: 10px;
}
@media (max-width: 575px) {
  .field--name-field-mt-hero-v2-action .mt-button a {
    display: block;
  }
  .field--name-field-mt-hero-v2-action .mt-button + .mt-button {
    margin-left: 0;
  }
}
