/**
 * @file
 * Visual styles for SLINT2020's node in teaser compact view.
 */
.node--view-mode-mt-teaser-compact .teaser-compact-image {
  margin-right: 20px;
  max-width: 80px;
}
.node--view-mode-mt-teaser-compact .node__title {
  margin-bottom: 15px;
}
.node--view-mode-mt-teaser-compact .node__content {
  margin-bottom: 10px;
}
.node--view-mode-mt-teaser-compact .node__content .field.field--name-field-mt-prd-body {
  margin-bottom: 0px;
}
.node--view-mode-mt-teaser-compact .created-date {
  font-weight: 700;
  font-size: 12px;
}
.region--dark-typography .node--view-mode-mt-teaser-compact .created-date {
  color: var(--mt-color-base-dark);
}
.region--dark-typography .node--view-mode-mt-teaser-compact .node__title a {
  color: var(--mt-color-base);
}
.region--dark-typography .node--view-mode-mt-teaser-compact .node__title a:hover,
.region--dark-typography .node--view-mode-mt-teaser-compact .node__title a:focus {
  text-decoration: none;
}
@media (max-width: 767px) {
  .footer__section .node--view-mode-mt-teaser-compact,
  .footer-bottom__section .node--view-mode-mt-teaser-compact {
    text-align: left;
  }  
}
