/**
 * @file
 * Visual styles for Press+'s node in teaser tile view.
 */
.node--view-mode-mt-featured-teaser {
  margin-bottom: 30px;
}
.node--view-mode-mt-featured-teaser.region--bright-background {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.1);
  color: var(--mt-color-base);
}
.node--view-mode-mt-featured-teaser .promoted-label {
  color: #ffffff;
  display: inline-block;
  padding: 4px 8px 3px;
  font-size: 15px;
  margin-bottom: 20px;
  display: inline-block;
}
.node--view-mode-mt-featured-teaser .featured-teaser-image {
  position: relative;
}
.node--view-mode-mt-featured-teaser .node__title a {
  color: var(--mt-color-base-dark);
}
@media (min-width: 1200px) {
  .node--view-mode-mt-featured-teaser h2.node__title {
    margin: 0 0 20px;
  }
  .node--view-mode-mt-featured-teaser .node__content {
    margin-bottom: 30px;
  }
  .node--view-mode-mt-featured-teaser .node__content .field > p:last-child {
    padding-bottom: 0;
  }
}
@media (max-width: 991px) {
  .node--view-mode-mt-featured-teaser .node__content {
    margin-bottom: 20px;
  }
}
.region--dark-typography .node--view-mode-mt-featured-teaser .node__title a:hover,
.region--dark-typography .node--view-mode-mt-featured-teaser .node__title a:focus {
  text-decoration: none;
}
.node--view-mode-mt-featured-teaser .field--entity-reference-target-type-taxonomy-term,
.node--view-mode-mt-featured-teaser .field--entity-reference-target-type-taxonomy-term.field__item {
  margin: 0 0 5px;
  padding: 0;
}
.node--view-mode-mt-featured-teaser .field--entity-reference-target-type-taxonomy-term:before,
.node--view-mode-mt-featured-teaser .field--entity-reference-target-type-taxonomy-term.field__item:before {
  content: "";
}
.node--view-mode-mt-featured-teaser .field--entity-reference-target-type-taxonomy-term:not(.field--label-above)::after {
  content: "";
}
.node--view-mode-mt-featured-teaser .profile {
  display: inline-block;
}
.node--view-mode-mt-featured-teaser .profile .field--name-user-picture {
  float: none;
  margin-right: 0;
}
.node--view-mode-mt-featured-teaser .field--name-user-picture img {
  border-radius: 100%;
  max-width: 40px;
  margin-right: 10px;
}
.node--view-mode-mt-featured-teaser .node__meta {
  font-size: 14px;
  text-transform: capitalize;
  margin-bottom: 5px;
}
.node--view-mode-mt-featured-teaser .promoted-label + .node__meta {
  margin: 0 0 0 10px;
  padding: 0;
  display: inline-block;
  line-height: 1.5;
  font-size: 15px;
}
.node--view-mode-mt-featured-teaser .node__meta {
  color: var(--mt-color-base);
}
.node--view-mode-mt-featured-teaser .node__meta-item a {
  font-size: 15px;
  color: var(--mt-color-base-dark);
}
.node--view-mode-mt-featured-teaser .node__meta-item a:hover,
.node--view-mode-mt-featured-teaser .node__meta-item a:focus {
  text-decoration: none;
}
.node--view-mode-mt-featured-teaser .node__meta-item {
  display: inline-block;
  margin-bottom: 5px;
  color: rgba(0, 0, 0, 0.55);
}
.node--view-mode-mt-featured-teaser .node__meta-item:last-child {
  margin-left: 10px;
}
.node--view-mode-mt-featured-teaser .field--name-uid {
  font-weight: 700;
}
.node--view-mode-mt-featured-teaser .node__submitted-date {
  position: absolute;
  right: 0px;
  bottom: 0px;
  padding: 10px;
  color: #333333;
  text-align: center;
}
.node--view-mode-mt-featured-teaser .node__submitted-date .day {
  font-size: 50px;
  font-weight: 600;
  display: block;
  line-height: 1;
}
.node--view-mode-mt-featured-teaser .node__submitted-date .month-year {
  font-size: 24px;
  font-weight: 500;
}
@media (max-width: 767px) {
  .node--view-mode-mt-featured-teaser .node__submitted-date .day {
    font-size: 35px;
  }
  .node--view-mode-mt-featured-teaser .node__submitted-date .month-year {
    font-size: 14px;
    font-weight: 500;
  }
}
/* featured teaser 2 */
.node--view-mode-mt-featured-teaser-2 {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.1);
}
@media (min-width: 1200px) {
  .node--view-mode-mt-featured-teaser-2.fixed-width {
    max-width: 860px;
    margin-right: auto;
    margin-left: auto;
  }
}
.node--view-mode-mt-featured-teaser-2 .featured-teaser-content {
  font-size: 22px;
  line-height: 1.45;
}
.node--view-mode-mt-featured-teaser-2 .quote-icon {
  font-size: 96px;
  line-height: 1;
  max-height: 40px;
}
.node--view-mode-mt-featured-teaser-2 .featured-teaser-footer h2.node__title {
  font-size: 14px;
  margin-bottom: 0;
  font-weight: 400;
}
.node--view-mode-mt-featured-teaser-2 .featured-teaser-footer > div {
  display: inline-block;
  font-size: 14px;
}
