/**
 * @file
 * Visual styles for SLINT2020's nav pills.
 */
.nav.nav-pills {
  margin-right: -5px;
  margin-left: -5px;
  -ms-flex-pack: center;
  justify-content: center;
}
.nav-pills > li > a.nav-link {
  text-decoration: none;
  padding: 5px 12px;
  color: rgba(0, 0, 0, 0.5);
  background-color: transparent;
  font-weight: 700;
}
.nav-pills > li > a.nav-link:hover,
.nav-pills > li > a.nav-link:focus {
  color: var(--mt-color-base-dark);
  background-color: transparent;
}
.headings-wide-spacing-enabled .nav-pills > li > a.nav-link {
  letter-spacing: 0.25em;
}
.nav-pills > li > a.nav-link.active,
.nav-pills > li > a.nav-link.active:focus,
.nav-pills > li > a.nav-link.active:hover {
  color: var(--mt-color-base-dark);
  background-color: transparent;
}
.nav.nav-pills > li,
.nav.nav-pills > li + li {
  margin: 0px 5px 15px;
}

/*nav pills @colored-regions*/
.region--light-typography .nav-pills > li > a.nav-link {
  color: rgba(255, 255, 255, 0.5);
}
.region--light-typography .nav-pills > li > a.nav-link.active,
.region--light-typography .nav-pills > li > a.nav-link.active:focus,
.region--light-typography .nav-pills > li > a.nav-link.active:hover,
.region--light-typography .nav-pills > li > a.nav-link:hover,
.region--light-typography .nav-pills > li > a.nav-link:focus {
  color: #ffffff;
}
